n8n/dm-automation-workflow.json
{
  "name": "MBA Brain - DM Automation (IG + FB + TT)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mba-dm-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Receber Pedidos do Painel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mba-brain-dm-trigger"
    },
    {
      "parameters": {
        "jsCode": "// Separar perfis por plataforma\nconst profiles = $input.first().json.profiles || [];\nconst message = $input.first().json.message || '';\nconst n8nSecret = $input.first().json.n8nSecret || '';\nconst webhookUrl = $input.first().json.webhookUrl || '';\n\n// Separar por plataforma\nconst igProfiles = profiles.filter(p => p.platform === 'instagram');\nconst fbProfiles = profiles.filter(p => p.platform === 'facebook');\nconst ttProfiles = profiles.filter(p => p.platform === 'tiktok');\n\n// Interleaved: IG > FB > TT\nconst ordered = [];\nconst maxLen = Math.max(igProfiles.length, fbProfiles.length, ttProfiles.length);\nfor (let i = 0; i < maxLen; i++) {\n  if (i < igProfiles.length) ordered.push(igProfiles[i]);\n  if (i < fbProfiles.length) ordered.push(fbProfiles[i]);\n  if (i < ttProfiles.length) ordered.push(ttProfiles[i]);\n}\n\nreturn ordered.map(p => ({\n  json: {\n    ...p,\n    message,\n    n8nSecret,\n    webhookUrl,\n    _index: ordered.indexOf(p)\n  }\n}));"
      },
      "id": "split-platforms",
      "name": "Separar por Plataforma (IG>FB>TT)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "batchSize": 1
      },
      "id": "loop-items",
      "name": "Processar um a um",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-platform",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-platform",
      "name": "Que Plataforma?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "url": "https://www.instagram.com/accounts/login/",
        "options": {
          "headless": true
        }
      },
      "id": "ig-open-login",
      "name": "IG: Abrir Login",
      "type": "n8n-nodes-base.openBrowser",
      "typeVersion": 1,
      "position": [1130, 100]
    },
    {
      "parameters": {
        "selector": "input[name='username']",
        "value": "={{ $credentials.instagram?.username || $('Receber Pedidos do Painel').item.json.igUsername || '' }}"
      },
      "id": "ig-fill-user",
      "name": "IG: Preencher Username",
      "type": "n8n-nodes-base.fillFormField",
      "typeVersion": 1,
      "position": [1350, 100]
    },
    {
      "parameters": {
        "selector": "input[name='password']",
        "value": "={{ $credentials.instagram?.password || $('Receber Pedidos do Painel').item.json.igPassword || '' }}"
      },
      "id": "ig-fill-pass",
      "name": "IG: Preencher Password",
      "type": "n8n-nodes-base.fillFormField",
      "typeVersion": 1,
      "position": [1570, 100]
    },
    {
      "parameters": {
        "selector": "button[type='submit']",
        "options": {}
      },
      "id": "ig-click-login",
      "name": "IG: Clicar Login",
      "type": "n8n-nodes-base.clickElement",
      "typeVersion": 1,
      "position": [1790, 100]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "ig-wait-login",
      "name": "IG: Esperar Login",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2010, 100]
    },
    {
      "parameters": {
        "url": "=https://www.instagram.com/direct/new/",
        "options": {}
      },
      "id": "ig-open-dm",
      "name": "IG: Abrir Nova Mensagem",
      "type": "n8n-nodes-base.navigateTo",
      "typeVersion": 1,
      "position": [2230, 100]
    },
    {
      "parameters": {
        "selector": "input[placeholder='Search...']",
        "value": "={{ $json.username }}"
      },
      "id": "ig-search-user",
      "name": "IG: Pesquisar Utilizador",
      "type": "n8n-nodes-base.fillFormField",
      "typeVersion": 1,
      "position": [2450, 100]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "ig-wait-search",
      "name": "IG: Esperar Resultado",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2670, 100]
    },
    {
      "parameters": {
        "selector": "div[role='option']",
        "options": {}
      },
      "id": "ig-click-result",
      "name": "IG: Clicar no Resultado",
      "type": "n8n-nodes-base.clickElement",
      "typeVersion": 1,
      "position": [2890, 100]
    },
    {
      "parameters": {
        "selector": "div[role='dialog'] button:not([disabled])",
        "options": {}
      },
      "id": "ig-click-chat",
      "name": "IG: Clicar 'Chat'",
      "type": "n8n-nodes-base.clickElement",
      "typeVersion": 1,
      "position": [3110, 100]
    },
    {
      "parameters": {
        "selector": "div[contenteditable='true']",
        "value": "={{ $json.message }}"
      },
      "id": "ig-type-message",
      "name": "IG: Escrever Mensagem",
      "type": "n8n-nodes-base.fillFormField",
      "typeVersion": 1,
      "position": [3330, 100]
    },
    {
      "parameters": {
        "shortcut": "Enter",
        "options": {}
      },
      "id": "ig-press-enter",
      "name": "IG: Enviar (Enter)",
      "type": "n8n-nodes-base.pressKey",
      "typeVersion": 1,
      "position": [3550, 100]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "ig-wait-send",
      "name": "IG: Esperar Envio",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3770, 100]
    },
    {
      "parameters": {
        "url": "https://www.facebook.com/login",
        "options": {
          "headless": true
        }
      },
      "id": "fb-open-login",
      "name": "FB: Abrir Login",
      "type": "n8n-nodes-base.openBrowser",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "selector": "input[id='email']",
        "value": "={{ $credentials.facebook?.username || $('Receber Pedidos do Painel').item.json.fbUsername || '' }}"
      },
      "id": "fb-fill-email",
      "name": "FB: Preencher Email",
      "type": "n8n-nodes-base.fillFormField",
      "typeVersion": 1,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "selector": "input[id='pass']",
        "value": "={{ $credentials.facebook?.password || $('Receber Pedidos do Painel').item.json.fbPassword || '' }}"
      },
      "id": "fb-fill-pass",
      "name": "FB: Preencher Password",
      "type": "n8n-nodes-base.fillFormField",
      "typeVersion": 1,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "selector": "button[name='login']",
        "options": {}
      },
      "id": "fb-click-login",
      "name": "FB: Clicar Login",
      "type": "n8n-nodes-base.clickElement",
      "typeVersion": 1,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "fb-wait-login",
      "name": "FB: Esperar Login",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "url": "=https://www.facebook.com/messages/t/{{ $json.username }}",
        "options": {}
      },
      "id": "fb-open-dm",
      "name": "FB: Abrir Mensagem Directa",
      "type": "n8n-nodes-base.navigateTo",
      "typeVersion": 1,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "fb-wait-dm",
      "name": "FB: Esperar Caixa",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "selector": "div[contenteditable='true']",
        "value": "={{ $json.message }}"
      },
      "id": "fb-type-message",
      "name": "FB: Escrever Mensagem",
      "type": "n8n-nodes-base.fillFormField",
      "typeVersion": 1,
      "position": [2670, 300]
    },
    {
      "parameters": {
        "shortcut": "Enter",
        "options": {}
      },
      "id": "fb-press-enter",
      "name": "FB: Enviar (Enter)",
      "type": "n8n-nodes-base.pressKey",
      "typeVersion": 1,
      "position": [2890, 300]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "fb-wait-send",
      "name": "FB: Esperar Envio",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3110, 300]
    },
    {
      "parameters": {
        "url": "https://www.tiktok.com/login",
        "options": {
          "headless": true
        }
      },
      "id": "tt-open-login",
      "name": "TT: Abrir Login",
      "type": "n8n-nodes-base.openBrowser",
      "typeVersion": 1,
      "position": [1130, 500]
    },
    {
      "parameters": {
        "selector": "div[data-e2e='login-tab-item']",
        "options": {}
      },
      "id": "tt-click-email-tab",
      "name": "TT: Clicar Email/Username",
      "type": "n8n-nodes-base.clickElement",
      "typeVersion": 1,
      "position": [1350, 500]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "tt-wait-tab",
      "name": "TT: Esperar Tab",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1570, 500]
    },
    {
      "parameters": {
        "selector": "input[type='text']",
        "value": "={{ $credentials.tiktok?.username || $('Receber Pedidos do Painel').item.json.ttUsername || '' }}"
      },
      "id": "tt-fill-user",
      "name": "TT: Preencher Username",
      "type": "n8n-nodes-base.fillFormField",
      "typeVersion": 1,
      "position": [1790, 500]
    },
    {
      "parameters": {
        "selector": "input[type='password']",
        "value": "={{ $credentials.tiktok?.password || $('Receber Pedidos do Painel').item.json.ttPassword || '' }}"
      },
      "id": "tt-fill-pass",
      "name": "TT: Preencher Password",
      "type": "n8n-nodes-base.fillFormField",
      "typeVersion": 1,
      "position": [2010, 500]
    },
    {
      "parameters": {
        "shortcut": "Enter",
        "options": {}
      },
      "id": "tt-press-login",
      "name": "TT: Login (Enter)",
      "type": "n8n-nodes-base.pressKey",
      "typeVersion": 1,
      "position": [2230, 500]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "tt-wait-login",
      "name": "TT: Esperar Login",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2450, 500]
    },
    {
      "parameters": {
        "url": "=https://www.tiktok.com/@{{ $json.username }}",
        "options": {}
      },
      "id": "tt-open-profile",
      "name": "TT: Abrir Perfil",
      "type": "n8n-nodes-base.navigateTo",
      "typeVersion": 1,
      "position": [2670, 500]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "tt-wait-profile",
      "name": "TT: Esperar Perfil",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2890, 500]
    },
    {
      "parameters": {
        "selector": "div[data-e2e='profile-message-button']",
        "options": {}
      },
      "id": "tt-click-message",
      "name": "TT: Clicar 'Message'",
      "type": "n8n-nodes-base.clickElement",
      "typeVersion": 1,
      "position": [3110, 500]
    },
    {
      "parameters": {
        "selector": "div[contenteditable='true']",
        "value": "={{ $json.message }}"
      },
      "id": "tt-type-message",
      "name": "TT: Escrever Mensagem",
      "type": "n8n-nodes-base.fillFormField",
      "typeVersion": 1,
      "position": [3330, 500]
    },
    {
      "parameters": {
        "shortcut": "Enter",
        "options": {}
      },
      "id": "tt-press-enter",
      "name": "TT: Enviar (Enter)",
      "type": "n8n-nodes-base.pressKey",
      "typeVersion": 1,
      "position": [3550, 500]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "tt-wait-send",
      "name": "TT: Esperar Envio",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3770, 500]
    },
    {
      "parameters": {
        "jsCode": "// Registar resultado e notificar painel\nconst item = $input.first().json;\nconst profileId = item.id || '';\nconst username = item.username || '';\nconst platform = item.platform || '';\nconst webhookUrl = item.webhookUrl || '';\nconst n8nSecret = item.n8nSecret || '';\n\n// Assumir sucesso se chegou aqui\nconst result = {\n  action: 'dm_result',\n  profileId,\n  username,\n  platform,\n  dmSent: true,\n  deliveryMsg: 'DM enviado via n8n (' + platform + ')'\n};\n\nreturn [{ json: result }];"
      },
      "id": "register-result",
      "name": "Registar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3990, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhookUrl || 'https://SEU-DOMINIO.vercel.app/api/webhook' }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $json.n8nSecret || 'mba-brain-n8n-2024' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "notify-panel",
      "name": "Notificar Painel (Webhook)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4210, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "delay-between-dms",
      "name": "Pausa 3s entre DMs",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [4430, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'DMs processados pelo n8n' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [4650, 300]
    }
  ],
  "connections": {
    "Receber Pedidos do Painel": {
      "main": [
        [
          {
            "node": "Separar por Plataforma (IG>FB>TT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar por Plataforma (IG>FB>TT)": {
      "main": [
        [
          {
            "node": "Processar um a um",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar um a um": {
      "main": [
        [
          {
            "node": "Que Plataforma?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Que Plataforma?": {
      "main": [
        [
          {
            "node": "IG: Abrir Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FB: Abrir Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TT: Abrir Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Abrir Login": {
      "main": [
        [
          {
            "node": "IG: Preencher Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Preencher Username": {
      "main": [
        [
          {
            "node": "IG: Preencher Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Preencher Password": {
      "main": [
        [
          {
            "node": "IG: Clicar Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Clicar Login": {
      "main": [
        [
          {
            "node": "IG: Esperar Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Esperar Login": {
      "main": [
        [
          {
            "node": "IG: Abrir Nova Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Abrir Nova Mensagem": {
      "main": [
        [
          {
            "node": "IG: Pesquisar Utilizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Pesquisar Utilizador": {
      "main": [
        [
          {
            "node": "IG: Esperar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Esperar Resultado": {
      "main": [
        [
          {
            "node": "IG: Clicar no Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Clicar no Resultado": {
      "main": [
        [
          {
            "node": "IG: Clicar 'Chat'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Clicar 'Chat'": {
      "main": [
        [
          {
            "node": "IG: Escrever Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Escrever Mensagem": {
      "main": [
        [
          {
            "node": "IG: Enviar (Enter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Enviar (Enter)": {
      "main": [
        [
          {
            "node": "IG: Esperar Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Esperar Envio": {
      "main": [
        [
          {
            "node": "Registar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Abrir Login": {
      "main": [
        [
          {
            "node": "FB: Preencher Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Preencher Email": {
      "main": [
        [
          {
            "node": "FB: Preencher Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Preencher Password": {
      "main": [
        [
          {
            "node": "FB: Clicar Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Clicar Login": {
      "main": [
        [
          {
            "node": "FB: Esperar Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Esperar Login": {
      "main": [
        [
          {
            "node": "FB: Abrir Mensagem Directa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Abrir Mensagem Directa": {
      "main": [
        [
          {
            "node": "FB: Esperar Caixa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Esperar Caixa": {
      "main": [
        [
          {
            "node": "FB: Escrever Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Escrever Mensagem": {
      "main": [
        [
          {
            "node": "FB: Enviar (Enter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Enviar (Enter)": {
      "main": [
        [
          {
            "node": "FB: Esperar Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Esperar Envio": {
      "main": [
        [
          {
            "node": "Registar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Abrir Login": {
      "main": [
        [
          {
            "node": "TT: Clicar Email/Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Clicar Email/Username": {
      "main": [
        [
          {
            "node": "TT: Esperar Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Esperar Tab": {
      "main": [
        [
          {
            "node": "TT: Preencher Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Preencher Username": {
      "main": [
        [
          {
            "node": "TT: Preencher Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Preencher Password": {
      "main": [
        [
          {
            "node": "TT: Login (Enter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Login (Enter)": {
      "main": [
        [
          {
            "node": "TT: Esperar Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Esperar Login": {
      "main": [
        [
          {
            "node": "TT: Abrir Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Abrir Perfil": {
      "main": [
        [
          {
            "node": "TT: Esperar Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Esperar Perfil": {
      "main": [
        [
          {
            "node": "TT: Clicar 'Message'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Clicar 'Message'": {
      "main": [
        [
          {
            "node": "TT: Escrever Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Escrever Mensagem": {
      "main": [
        [
          {
            "node": "TT: Enviar (Enter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Enviar (Enter)": {
      "main": [
        [
          {
            "node": "TT: Esperar Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TT: Esperar Envio": {
      "main": [
        [
          {
            "node": "Registar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registar Resultado": {
      "main": [
        [
          {
            "node": "Notificar Painel (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Painel (Webhook)": {
      "main": [
        [
          {
            "node": "Pausa 3s entre DMs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausa 3s entre DMs": {
      "main": [
        [
          {
            "node": "Processar um a um",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "MBA Brain"
    }
  ]
}